<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kongxiaogang.dao.MenuDao" >
  <resultMap id="BaseResultMap" type="com.kongxiaogang.model.MenuModel" >
    <id column="menu_id" property="menuId" jdbcType="INTEGER" />
    <result column="menu_name" property="menuName" jdbcType="VARCHAR" />
    <result column="page_url" property="pageUrl" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="level" property="level" jdbcType="INTEGER" />
    <result column="order_number" property="orderNumber" jdbcType="INTEGER" />
    <result column="leaf_node" property="leafNode" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    menu_id, menu_name, page_url, parent_id, level, order_number, leaf_node
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_menu
    where menu_id = #{menuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.kongxiaogang.model.MenuModel" >
    insert into sys_menu (menu_id, menu_name, page_url, 
      parent_id, level, order_number, 
      leaf_node)
    values (#{menuId,jdbcType=INTEGER}, #{menuName,jdbcType=VARCHAR}, #{pageUrl,jdbcType=VARCHAR}, 
      #{parentId,jdbcType=INTEGER}, #{level,jdbcType=INTEGER}, #{orderNumber,jdbcType=INTEGER}, 
      #{leafNode,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.kongxiaogang.model.MenuModel" >
    insert into sys_menu
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        menu_id,
      </if>
      <if test="menuName != null" >
        menu_name,
      </if>
      <if test="pageUrl != null" >
        page_url,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="level != null" >
        level,
      </if>
      <if test="orderNumber != null" >
        order_number,
      </if>
      <if test="leafNode != null" >
        leaf_node,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="menuId != null" >
        #{menuId,jdbcType=INTEGER},
      </if>
      <if test="menuName != null" >
        #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        #{level,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="leafNode != null" >
        #{leafNode,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kongxiaogang.model.MenuModel" >
    update sys_menu
    <set >
      <if test="menuName != null" >
        menu_name = #{menuName,jdbcType=VARCHAR},
      </if>
      <if test="pageUrl != null" >
        page_url = #{pageUrl,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="level != null" >
        level = #{level,jdbcType=INTEGER},
      </if>
      <if test="orderNumber != null" >
        order_number = #{orderNumber,jdbcType=INTEGER},
      </if>
      <if test="leafNode != null" >
        leaf_node = #{leafNode,jdbcType=INTEGER},
      </if>
    </set>
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kongxiaogang.model.MenuModel" >
    update sys_menu
    set menu_name = #{menuName,jdbcType=VARCHAR},
      page_url = #{pageUrl,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      level = #{level,jdbcType=INTEGER},
      order_number = #{orderNumber,jdbcType=INTEGER},
      leaf_node = #{leafNode,jdbcType=INTEGER}
    where menu_id = #{menuId,jdbcType=INTEGER}
  </update>
  <select id="listLevelOneMenuList" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" /> 
	from sys_menu 
	where parent_id = '1000000' order by order_number 
  </select>
  
  <select id="getChildMenusByParentId" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" /> 
	from sys_menu 
	where 
	parent_id = #{parentId,jdbcType=INTEGER} 
	order by order_number 
  </select>
  <select id="getThisLevelMenusByMenuId" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" /> 
	from sys_menu 
	where 
	level = (select level from sys_menu 
	where
	menu_id = #{menuId,jdbcType=INTEGER} 
	)
	order by order_number 
  </select>
  <select id="selectAllMenusList" resultMap="BaseResultMap">
	select
	<include refid="Base_Column_List" /> 
	from sys_menu 
	order by order_number 
  </select>
</mapper>